################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/3D-Printing/v16/.suo
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
